<h1>Play Rock, Paper, Scissors!</h1>

<form class="userInput" action="/result" method="post">
  <h3>Player 1</h3>
  <button type="button" name="rock" value="p1rock">Rock</button>
  <button type="button" name="paper" value="p1paper">Paper</button>
  <button type="button" name="scissors" value="p1scissors">Scissors</button>

  <h3>Player 2</h3>
  <button type="button" name="rock" value="p2rock">Rock</button>
  <button type="button" name="paper" value="p2paper">Paper</button>
  <button type="button" name="scissors" value="p2scissors">Scissors</button>

  <button type="submit" name="submit">Submit</button>
</form>
